.NavigationContainer {
    position: fixed;
    top: 0;
    right: 0;
}

.NavigationDivider {
    width: 9.5rem;
    margin-right: 1rem;
    height: 1px;
    background-color: gray;
}

.MenuButton {
    margin-left: 1rem;
    margin-top: 4rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    border-radius: 50%;
    border: 2px solid white;
    height: 2.5rem;
    width: 2.5rem;
    text-align: center;
    vertical-align: middle;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.MenuButton:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}