.LogoImage {
    border-radius: 50%;
    border: 2px solid white;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left center;
    image-orientation: from-image;
}