.ProjectContainer {
    background-color: #333;
    height: 20rem;
    width: 25rem;
    margin: 1rem;
    border-radius: .5rem;
    box-shadow: 2px 2px 1rem #121212;
}

.ProjectImage {
    width: 25rem;
    height: 14rem;
    background-color: black;
    border-bottom: 1px solid red;
    border-radius: .5rem .5rem 0 0;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.ProjectTitle {
    font-size: 1rem;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: .5rem;
}

.ButtonOverlay {
    position: absolute;
    bottom: 1rem;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
}

.ProjectButton {
    background-color: #333;
    border: 1px solid red;
    border-radius: 100%;
    height: 2rem;
    width: 2rem;
    margin: 0 .5rem;
    color: white;
    text-decoration: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ProjectButton:hover:enabled {
    background-color: white;
    color: black;
}

.SourceLink {
    text-decoration: none;
}

.ProjectDesc {
    font-size: .8rem;
    text-align: center;
    color: #AAA;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 0 1rem;
}

.disabled {
    color: gray;
    background-color: #222;
}

.disabled:hover {
    cursor: default;
}