.NavItem {
    font-size: 1rem;
    display: flex;
    align-items: center;
    color: #909090;
}

.NavItem:hover, .NavItem.CurrentPage {
    border-left: 2px solid red;
    color: white;
}

.NavItem:hover {
    cursor: pointer;
}

.NavText {
    margin-left: .5rem;
    line-height: 100%;
    vertical-align: middle;
}

.NavItemImage {
    font-size: 1.5rem;
    margin-left: 1rem;
}