.Title {
    font-family: "bebas_neueregular", "sans-serif";
    font-feature-settings: "liga", "kern";
    text-align: center;
    font-size: 4rem;
    animation: slideFromLeft 1.5s forwards;
    animation-delay: 1s;
    opacity: 0;
}

@keyframes slideFromLeft {
    0% {
        transform: translate(-15rem, 0);
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.SelfPicture {
    margin: auto;
    margin-top: 8rem;
    animation: slideFromTop 1.5s forwards;
}

@keyframes slideFromTop {
    0% {
        opacity: 0;
        transform: translateY(-50rem);
    }
    100% {
        opacity: 1;
    }
}

.Divider {
    height: 1px;
    background-color: gray;
    width: 80%;
    margin: auto;
    animation: slideFromBottom 1.5s forwards;
    animation-delay: 2s;
    opacity: 0;
}

@media (min-width: 50rem) {
    .Divider {
        width: 30rem;
    }
}

.Description {
    text-align: center;
    margin: auto;
    margin-top: 3rem;
    padding: 1rem;
    width: 60%;
    font-size: 1.25rem;
    animation: slideFromBottom 1.5s forwards;
    animation-delay: 2s;
    opacity: 0;
    background-color: #222;
    border-radius: 1rem;
}

@keyframes slideFromBottom {
    0% {
        opacity: 0;
        transform: translateY(5rem);
    }
    100% {
        opacity: 1;
    }
}

.Letter {
    color: red;
    cursor: pointer;
}