.Divider {
    height: 1px;
    background-color: gray;
    margin-left: 2rem;
    margin-right: 12rem;
    animation: slideFromTop 1.5s forwards;
    opacity: 0;
}

.Title {
    margin-left: 3rem;
    margin-top: 4rem;
    font-family: "bebas_neueregular";
    animation: slideFromTop 1.5s forwards;
    opacity: 0;
}

.ProjectsContainer {
    background-color: #222;
    margin-left: 4rem;
    margin-right: 14rem;
    margin-top: 2rem;
    border-radius: 2rem;
    display: flex;
    flex-wrap: wrap;
    min-width: 275px;
    animation: slideFromBottom 1.5s forwards;
    animation-delay: 1s;
    opacity: 0;
}

@keyframes slideFromBottom {
    0% {
        opacity: 0;
        transform: translateY(5rem);
    }
    100% {
        opacity: 1;
    }
}

@keyframes slideFromTop {
    0% {
        opacity: 0;
        transform: translateY(-50rem);
    }
    100% {
        opacity: 1;
    }
}